:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ecf0f1;
  background-color: #2c3e50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Couleurs des catégories */
  --category-stockage-color: #3498db;     /* Bleu */
  --category-logements-color: #3498db;    /* Bleu */
  --category-alimentation-color: #e67e22; /* Orange */
  --category-eau-color: #3498db;         /* Bleu */
  --category-energie-color: #f1c40f;     /* Jaune */
  --category-sante-color: #2ecc71;       /* Vert */
  --category-production-color: #9b59b6;   /* Violet */

  /* Bordures */
  --border-exterior-color: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #2980b9;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2c3e50;
    background-color: #ecf0f1;
  }
}

/* Styles globaux pour les modales */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  padding-top: 100px; /* Marge minimale en haut */
}

.modal-content {
  background-color: #2c3e50;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  max-height: calc(100vh - 200px); /* Hauteur maximale en tenant compte de la marge */
  display: flex;
  flex-direction: column;
  color: #ecf0f1;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.silo-levels {
  margin:30px;
  border-top: 5px solid var(--border-exterior-color);
}

.silo-exterieur {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #95a5a6;
  height: 200px;
  width: 100%;
}

.silo-background {
  border-top:solid 3px #27ae60;
  top:200px;
}

/* Suppression des styles statiques des types de salles car ils sont maintenant gérés dynamiquement */